@font-face {
    font-family: 'Lato';
    src: 
      local('Lato'),
      local('Lato Regular'),
      local('Lato-Regular'),
      url('/fonts/Lato-Regular.ttf');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
  }